:host {
  display: block;
}
.pizza-display {
  background: #f5f5f5;
  border-radius: 4px;
  padding: 15px 0;
  &__base {
    position: relative;
    text-align: center;
  }
  &__topping {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}
